{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}
    About Us
{% endblock %}

{% block plugincss %}
    <link href="{% static 'assets/admin/pages/css/about-us.css' %}" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="{% static 'assets/core/css/carousel.css' %}"/>
{% endblock %}

{% block header %}
    About Us
{% endblock %}

{% block subheader %}
    page
{% endblock %}

{% block breadcrumb %}

    <ul class="page-breadcrumb breadcrumb">
        <li>
            <a href="{% url 'home' %}">Home</a>
            <i class="fa fa-circle"></i>
        </li>
        <li class="active">
            About us
        </li>
    </ul>
{% endblock %}

{% block content %}
    <div class="portlet light">
        <div class="portlet-body">
            <div class="row margin-bottom-30">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Carousel</h3>
                    </div>
                    <div class="panel-body">
                        <section class="carouselContainer">
                            <div id="carousel">
                                <img src="{% static 'assets/core/img/homepage.jpg' %}"/>
                                <img src="{% static 'assets/core/img/dashboard.png' %}"/>
                                <img src="{% static 'assets/core/img/survey_list.png' %}"/>
                                <img src="{% static 'assets/core/img/survey_do.png' %}"/>
                                <img src="{% static 'assets/core/img/survey_detail.png' %}"/>
                                <img src="{% static 'assets/core/img/survey_builder.png' %}"/>
                                <img src="{% static 'assets/core/img/survey_collect.png' %}"/>
                                <img src="{% static 'assets/core/img/survey_analyze.png' %}"/>
                                <img src="{% static 'assets/core/img/account_login.jpg' %}"/>
                                <img src="{% static 'assets/core/img/account_logout.jpg' %}"/>
                            </div>
                        </section>
                    </div>
                    <div class="panel-footer">
                        <div class="btn-group btn-group btn-group-justified">
                            <a type="button" class="btn btn-success" id="backCarousel"><i
                                    class="fa fa-backward"> </i> Back
                            </a>
                            <a type="button" class="btn btn-primary btn-block" id="nextCarousel">Next <i
                                    class="fa fa-forward"> </i>
                            </a>
                        </div>
                    </div>
                </div>

            </div>
            <!--/row-->
            <!-- Meer Our Team -->
            <div class="headline">
                <h3>Meet Our Team - Team 423</h3>
            </div>
            <div class="row thumbnails">
                <div class="col-md-1">
                </div>

                <div class="col-md-2">
                    <div class="meet-our-team">
                        <h3 style="font-size: 20px;">Aashwin Gaur
                            <small>Team Leader</small>
                        </h3>
                        <img src="http://identicon.rmhdev.net/aashwin/rhombus.png" alt="" class="img-responsive"/>

                    </div>
                </div>
                <div class="col-md-2">
                    <div class="meet-our-team">
                        <h3 style="font-size: 20px;">Danny Yu
                            <small>Backend Manager</small>
                        </h3>
                        <img src="http://identicon.rmhdev.net/dongtaoy/circle.png" alt="" class="img-responsive"/>

                    </div>
                </div>
                <div class="col-md-2">
                    <div class="meet-our-team">
                        <h3 style="font-size: 20px;">Jordan Kelly
                            <small>Tester</small>
                        </h3>
                        <img src="http://identicon.rmhdev.net/Jordan-Pheasant-Kelly/rhombus.png" alt=""
                             class="img-responsive"/>

                    </div>
                </div>
                <div class="col-md-2">
                    <div class="meet-our-team">
                        <h3 style="font-size: 20px;">George Cai
                            <small>Frontend Manager</small>
                        </h3>
                        <img src="http://identicon.rmhdev.net/georgecai/pyramid.png" alt="" class="img-responsive"/>

                    </div>
                </div>
                <div class="col-md-2">
                    <div class="meet-our-team">
                        <h3 style="font-size: 20px;">Jingyuan Zhang
                            <small>Database Manager</small>
                        </h3>
                        <img src="http://identicon.rmhdev.net/xuxucao/circle.png" alt="" class="img-responsive"/>

                    </div>
                </div>
                <div class="col-md-1">
                </div>
            </div>
            <!--/thumbnails-->
            <!-- //End Meer Our Team -->
        </div>
    </div>
{% endblock %}

{% block pluginjs %}
    <script type="text/javascript" src="{% static 'assets/global/plugins/jquery-transit/jquery.transit.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'assets/core/js/carousel.js' %}"></script>
{% endblock %}

{% block script %}

{% endblock %}