{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}
    Survey List
{% endblock %}

{% block plugincss %}
{% endblock %}

{% block header %}
    Survey
{% endblock %}

{% block subheader %}
    List
{% endblock %}

{% block breadcrumb %}

    <ul class="page-breadcrumb breadcrumb">
        <li>
            <a href="{% url 'home' %}">Home</a>
            <i class="fa fa-circle"></i>
        </li>
        <li class="active">
            Survey List
        </li>
    </ul>
{% endblock %}

{% block content %}



{% endblock %}

{% block pluginjs %}
{% endblock %}

{% block script %}
    <script>
    </script>
{% endblock %}