<div class="col-md-3">
    <div class="portlet light" id="builder-navbar">
        <div class="portlet-title">
            <div class="caption" data-target=".todo-project-list-content-1">
                <span class="caption-subject font-green-sharp bold uppercase">BUILDER</span>
            </div>
        </div>
        <div class="form-group">
            <select class="form-control input-sm" id="page-select">
                {% for page in pages %}
                    <option value="{{ forloop.counter }}">Page {{ forloop.counter }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="portlet-body todo-project-list-content-1">
            <div class="todo-project-list">
                <ul class="nav nav-pills nav-stacked">
                    {% for questiontype in questiontypes %}
                        <li>
                            <a data-placement="right" data-toggle="tooltip"
                               id="QU-type-{{ questiontype.id }}" title=""
                               data-original-title="{{ questiontype.helper }} "><i
                                    class="{{ questiontype.icon_css }} "></i> | {{ questiontype.name }} <span
                                    style="padding-top: 1px"></span></a>
                        </li>
                    {% endfor %}
                    <li>
                        <a data-placement="right" data-toggle="tooltip" id="TE" title="" data-original-title=" "><i
                                class="icon-speech "></i> | Help Text <span style="padding-top: 1px"></span></a>
                    </li>
                    <hr/>
                    <div class="btn-group btn-group-justified">
                        <a class="btn btn-default" href="{% url 'survey.detail' survey.id %}">
                            <i class="fa fa-arrow-left"></i> back
                        </a>
                        <a href="{% url 'survey.collect' survey.id %}" class="btn btn-default">Next
                            <i class="fa fa-arrow-right"></i></a>
                        </a>
                    </div>
                <br/>
                    <a href="{% url 'survey.preview' survey.id %}" class="btn btn-default btn-block" target="_blank"><i class="fa fa-image fa-fw"></i>Preview</a>
                </ul>
            </div>
        </div>
    </div>
</div>