{% extends 'base.html' %}
{% load staticfiles %}
{% load js %}
{% block title %}
    Survey Collector
{% endblock %}

{% block plugincss %}
    <link rel="stylesheet" type="text/css"
          href="{% static 'assets/global/plugins/datatables/extensions/ColReorder/css/dataTables.colReorder.min.css' %}"/>
    <link rel="stylesheet" type="text/css"
          href="{% static 'assets/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.css' %}"/>
{% endblock %}

{% block header %}
    Survey
{% endblock %}

{% block subheader %}
    Collector
{% endblock %}

{% block content %}
    <div class="portlet gren">
        <div class="portlet-title">
            <div class="caption font-blue-hoki">
                <a a href="#surveyEdit" data-toggle="modal" role="button"
                   style="font-size: 25px;">{{ survey.name }}</a><br/>
            <span style="font-size: 12px;margin-top: 2px;color: grey;"><i
                    class="fa fa-tags fa-fw"></i>Category: {{ survey.category }}</span>
            </div>
            <div class="tabbable-line ">
                <ul class="nav nav-tabs pull-right">
                    <li>
                        <a href="{% url 'survey.detail' survey.id %}">
                            Detail </a>
                    </li>
                    <li>
                        <a href="{% url 'survey.builder' survey.id %}">
                            Builder </a>
                    </li>
                    <li class="active">
                        <a href="{% url 'survey.collect' survey.id %}">
                            Collector </a>
                    </li>
                    <li>
                        <a href="{% url 'survey.analyze' survey.id %}">
                            Analyze
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="portlet-body">
            <div class="portlet light bordered">
                <div class="portlet-title">
                    <div class="caption font-blue-hoki ">
                        <i class="icon-layers font-blue-hoki"></i> COLLECTORS <span
                            class="caption-helper">2 of 2</span>
                    </div>
                    <div class="actions">
                        <a href="javascript:;" class="btn btn-circle btn-default btn-icon-only fullscreen"></a>
                    </div>
                </div>
                <div class="portlet-body">
                    <table class="table  table-hover" id="sample_6">
                        <thead>
                        <tr>
                            <th>
                                Nickname
                            </th>
                            <th>
                                Status
                            </th>
                            <th class="hidden-xs">
                                Responses
                            </th>
                            <th class="hidden-xs">
                                URL
                            </th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for collect in survey.collectors.all %}
                            <tr>
                                <td>
                                    {{ collect.name }}
                                </td>
                                <td>
                                    {{ collect.get_status_display }}
                                </td>
                                <td>
                                    {{ collect.responses.all|length }}
                                </td>
                                <td>
                                    {{ request.get_host }}{% url 'survey.do' collect.uuid %}
                                </td>
                                <td>
                                    <div class="btn-group btn-group-circle">
                                        <button class="btn  btn-xs btn-default collect-share"
                                                id="copy-button-{{ collect.id }}"
                                                data-clipboard-text="
                                                        {{ request.get_host }}{% url 'survey.do' collect.uuid %} "
                                                title="Click to copy me."><i class="fa fa-share fa-fw"></i>Share
                                        </button>
                                        <a href="{% url 'collect.edit' survey.id collect.id %}"
                                           class="btn  btn-xs btn-default">
                                            <i class="fa fa-edit fa-fw"></i>Edit
                                        </a>
                                        <a class="btn  btn-xs btn-default collect-delete"
                                           id="collect-{{ collect.id }}" name="survey-{{ survey.id }}">
                                            Delete<i class="fa fa-trash fa-fw"></i>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}

                        </tbody>
                    </table>
                </div>
            </div>
            <div class="portlet light bordered">
                <div class="portlet-title">
                    <div class="caption font-yellow-crusta ">
                        <i class="icon-share font-yellow-crusta"></i> ADD A NEW COLLECTOR
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="row">
                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                            <div class="dashboard-stat grey-cararra">
                                <div class="visual">
                                    <i class="fa fa-envelope-o"></i>
                                </div>
                                <div class="details">
                                    <div class="number">
                                        Email
                                    </div>
                                    <div class="desc pull-right" style="font-size: 10px;width: 100px;">
                                        Ideal for tracking your survey respondents
                                    </div>
                                </div>
                                <a class="more" href="javascript:;">
                                    Create collector<i class="m-icon-swapright m-icon-white"></i>
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                            <div class="dashboard-stat grey-cararra">
                                <div class="visual">
                                    <i class="fa fa-globe"></i>
                                </div>
                                <div class="details">
                                    <div class="number">
                                        Website
                                    </div>
                                    <div class="desc pull-right" style="font-size: 10px;width: 100px;">
                                        Embed your survey on your website
                                    </div>
                                </div>
                                <a class="more" href="{% url 'collect.create' survey.id %}">
                                    Create collector<i class="m-icon-swapright m-icon-white"></i>
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                            <div class="dashboard-stat grey-cararra">
                                <div class="visual">
                                    <i class="fa fa-facebook-square"></i>
                                </div>
                                <div class="details">
                                    <div class="number">
                                        Facebook
                                    </div>
                                    <div class="desc pull-right" style="font-size: 10px;width: 100px;">
                                        Post your survey on Facebook
                                    </div>
                                </div>
                                <a class="more" href="javascript:;">
                                    Create collector<i class="m-icon-swapright m-icon-white"></i>
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                            <div class="dashboard-stat grey-cararra">
                                <div class="visual">
                                    <i class="fa fa-edit"></i>
                                </div>
                                <div class="details">
                                    <div class="number">
                                        Manual
                                    </div>
                                    <div class="desc pull-right" style="font-size: 10px;width: 100px;">
                                        Manually enter responses
                                    </div>
                                </div>
                                {% if survey.collectors.all.0.status == 'OP' %}
                                    <a class="more" href="{% url "survey.do" survey.collectors.all.0.uuid %}" target="_blank">
                                        Create collector<i class="m-icon-swapright m-icon-white"></i>
                                    </a>
                                {% else %}
                                    <a class="more" onclick="alert('There is no open colloctors!');">
                                        Create collector<i class="m-icon-swapright m-icon-white"></i>
                                    </a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}

{% block pluginjs %}
    <script src="{% static 'assets/global/plugins/zeroclipboard/zeroclipboard.min.js' %}"></script>


    <script type="text/javascript"
            src="{% static 'assets/global/plugins/datatables/media/js/jquery.dataTables.min.js' %}"></script>
    <script type="text/javascript"
            src="{% static 'assets/global/plugins/datatables/extensions/ColReorder/js/dataTables.colReorder.min.js' %}"></script>
    <script type="text/javascript"
            src="{% static 'assets/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.js' %}"></script>
    <script src="{% static 'assets/global/plugins/bootbox/bootbox.min.js' %}"></script>
    <script src="{% static 'assets/global/plugins/bootstrap-notify/bootstrap-notify.min.js' %}"></script>
    <script type="text/javascript"
            src="{% static 'assets/survey/js/survey.collect.js' %}"></script>
    {% django_js jquery=false i18n=false %}
{% endblock %}

{% block script %}
    <script>
        jQuery(document).ready(function () {
            $('.table').dataTable({
                "order": [[2, "desc"]]
            });
            surveyCollect.init();
        });
    </script>
{% endblock %}