{% extends "account/base.html" %}
{% load bootstrap3 %}
{% load url from future %}
{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
    <h1>{% trans "Sign Up" %}</h1>

    <p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}
    </p>

    <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% if redirect_field_value %}
            <div class="form-group">
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
            </div>
        {% endif %}
        <br>
        <div class="form-actions">
            <a id="register-back-btn" class="btn grey" class="btn">
                <i class="m-icon-swapleft"></i> Back
            </a>
            <button type="submit" id="register-submit-btn" class="btn blue pull-right">
                Sign Up <i class="m-icon-swapright m-icon-white"></i>
            </button>
        </div>
    </form>


{% endblock %}


