{% extends 'base.html' %}
{% load staticfiles %}
{% load bootstrap3 %}
{% block title %}
    Survey Builder
{% endblock %}

{% block plugincss %}
    <link href="{% static 'assets/global/css/components-rounded.css' %}" id="style_components" rel="stylesheet"
          type="text/css">
    <link href="{% static 'assets/global/plugins/bootstrap-wysihtml5/bootstrap-wysihtml5.css' %}" rel="stylesheet"
          type="text/css">
    <link href="{% static 'assets/global/plugins/wysiwyg/wysiwyg-editor.css' %}" rel="stylesheet"
          type="text/css">
    <link rel="stylesheet" href="{% static 'assets/global/plugins/dropzone-new/dropzone.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'assets/global/plugins/dropzone-new/basic.min.css' %}"/>
{% endblock %}


{% block header %}
    <a href="#surveyEdit" data-toggle="modal" role="button">{{ object.name }}</a>
{% endblock %}

{% block subheader %}
    <div style="margin-top: 2px;"><i class="fa fa-tags fa-fw"></i>Category: {{ object.category }}</div>
{% endblock %}

{% block breadcrumb %}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            {% include "survey/builder/survey.builder.toolbar.html" %}

            <div class="col-md-9">
                {% include "survey/builder/survey.builder.page.html" %}
                <button class="btn btn-success btn-block"><i class="fa fa-plus fa-fw"></i>Add Page</button>
            </div>
        </div>
        <div id="surveyEdit" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                        <h4 class="modal-title">First Thumbnail label</h4>
                    </div>
                    <div class="modal-body">
                        <form action="">
                            {% bootstrap_form form %}
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button data-dismiss="modal" class="btn green">OK</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block pluginjs %}
    <script type="text/javascript"
            src="{% static "assets/global/plugins/bootstrap-wysihtml5/wysihtml5-0.3.0.js" %}"></script>
    <script type="text/javascript"
            src="{% static "assets/global/plugins/bootstrap-wysihtml5/bootstrap-wysihtml5.js" %}"></script>
    <script src="{% static "assets/admin/pages/scripts/components-editors.js" %}"></script>

    <script src="{% static 'assets/global/plugins/jquery-form/jquery.form.js' %}"></script>

    <script src="{% static 'assets/global/plugins/wysiwyg/wysiwyg-editor.js' %}"></script>

    <script src="{% static 'assets/global/plugins/wysiwyg/wysiwyg.js' %}"></script>
    <script src="{% static 'assets/global/plugins/dropzone-new/dropzone-amd-module.min.js' %}"></script>
    <script src="{% static 'assets/global/plugins/dropzone-new/dropzone.min.js' %}"></script>
    <script src="{% static 'assets/survey/builder/js/builder.js' %}"></script>


{% endblock %}

{% block script %}

{% endblock %}