<div class="portlet light">
    <div class="portlet-title">
        <div class="caption font-green-sharp">
            <span class="caption-subject bold uppercase">Page 1</span>
        </div>
        <div class="actions">
            <a class="btn btn-sm btn-default">
                <i class="fa fa-arrow-up"></i> Move Up </a>
            </a>
            <a class="btn btn-sm btn-default">
                <i class="fa fa-arrow-down"></i> Move Down </a>
            </a>

        </div>
    </div>
    <div class="portlet-body">
        <div class="row">
            <div class="col-md-12 column pageBody">
                {% if 1 %}
                    <div style="color: #808080;text-align: center;">
                        <h1>[ Empty Page ]</h1>

                        <h4>Add a question here by clicking the button from the left navigation bar.</h4>
                    </div>
                    <br/>
                {% endif %}
                {#                                {% include "survey/builder/question/elo-display.html" %}#}
                {#                                {% include "survey/builder/question/helptext-display.html" %}#}
                {#                                {% include "survey/builder/question/singletext-display.html" %}#}
                {#                                {% include "survey/builder/question/radio-display.html" %}#}
                {#                                {% include "survey/builder/question/checkbox-display.html" %}#}
                {#                                {% include "survey/builder/question/select-display.html" %}#}
                {#                                {% include "survey/builder/question/image-display.html" %}#}
                {##}
                {##}
                {#                {% include "survey/builder/question/radio-edit.html" %}#}
                {#                {% include "survey/builder/question/checkbox-edit.html" %}#}
                {#                {% include "survey/builder/question/select-edit.html" %}#}
                {#                {% include "survey/builder/question/image-edit.html" %}#}
                {#                {% include "survey/builder/question/elo-edit.html" %}#}
                {#                {% include "survey/builder/question/helptext-edit.html" %}#}
                {#                {% include "survey/builder/question/singletext-edit.html" %}#}
            </div>

        </div>
    </div>
</div>