{% extends 'base.html' %}
{% load staticfiles %}
{% load bootstrap3 %}
{% block title %}
    Survey Builder
{% endblock %}

{% block plugincss %}
    <link href="{% static 'assets/global/css/components-rounded.css' %}" id="style_components" rel="stylesheet"
          type="text/css">
    <link href="{% static 'assets/global/plugins/bootstrap-wysihtml5/bootstrap-wysihtml5.css' %}" rel="stylesheet"
          type="text/css">
    <link href="{% static 'assets/global/plugins/wysiwyg/wysiwyg-editor.css' %}" rel="stylesheet"
          type="text/css">
    <link rel="stylesheet" href="{% static 'assets/global/plugins/dropzone-new/dropzone.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'assets/global/plugins/dropzone-new/basic.min.css' %}"/>
{% endblock %}


{% block header %}
    <a href="#surveyEdit" data-toggle="modal" role="button">{{ object.name }}</a>
{% endblock %}

{% block subheader %}
    <div style="margin-top: 2px;"><i class="fa fa-tags fa-fw"></i>Category: {{ object.category }}</div>
{% endblock %}

{% block breadcrumb %}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="todo-sidebar col-md-3">
                <div class="portlet light">
                    <div class="portlet-title">
                        <div class="caption" data-toggle="collapse" data-target=".todo-project-list-content-1">
                            <span class="caption-subject font-green-sharp bold uppercase">BUILDER </span>
                        </div>
                    </div>
                    <div class="portlet-body todo-project-list-content-1" id="test1">
                        <div class="todo-project-list">
                            <ul class="nav nav-pills nav-stacked">
                                <li class="active" id="mult">
                                    <a class="dragtest"><i class="icon-home"></i> | Multiple Choice </a>
                                </li>
                                <li id="drop">
                                    <a href="javascript:;"><i class="icon-user"></i> | Dropdown </a>
                                </li>
                                <li id="elo">
                                    <a href="javascript:;"><i class="icon-notebook"></i> | Elo Ranking </a>
                                </li>
                                <li id="singletext">
                                    <a href="javascript:;"><i class="icon-wallet"></i> | Single Textbox </a>
                                </li>
                                <li id="comment">
                                    <a href="javascript:;"><i class="icon-speech"></i> | Comment Box </a>
                                </li>
                                <li id="image">
                                    <a href="javascript:;"><i class="icon-picture"></i> | Image </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-9">
                <div class="portlet light">
                    <div class="portlet-title">
                        <div class="caption">
                            Page
                        </div>
                    </div>
                    <div class="portlet-body">
                        <div class="row" id="sortable_portlets">
                            <div class="col-md-12 column sortable">
                                {% include "builder/question/elo-display.html" %}
                                {% include "builder/question/helptext-display.html" %}
                                {% include "builder/question/singletext-display.html" %}
                                {% include "builder/question/radio-display.html" %}
                                {% include "builder/question/checkbox-display.html" %}
                                {% include "builder/question/select-display.html" %}
                                {% include "builder/question/image-display.html" %}


                                {% include "builder/question/radio-edit.html" %}
                                {% include "builder/question/checkbox-edit.html" %}
                                {% include "builder/question/select-edit.html" %}
                                {% include "builder/question/image-edit.html" %}
                                {% include "builder/question/elo-edit.html" %}
                                {% include "builder/question/helptext-edit.html" %}
                                {% include "builder/question/singletext-edit.html" %}
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div id="surveyEdit" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                        <h4 class="modal-title">First Thumbnail label</h4>
                    </div>
                    <div class="modal-body">
                        <form action="">
                            {% bootstrap_form form %}
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button data-dismiss="modal" class="btn green">OK</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block pluginjs %}
    <script type="text/javascript"
            src="{% static "assets/global/plugins/bootstrap-wysihtml5/wysihtml5-0.3.0.js" %}"></script>
    <script type="text/javascript"
            src="{% static "assets/global/plugins/bootstrap-wysihtml5/bootstrap-wysihtml5.js" %}"></script>
    <script src="{% static "assets/admin/pages/scripts/components-editors.js" %}"></script>

    <script src="{% static "assets/admin/pages/scripts/portlet-draggable.js" %}"></script>

    <script src="{% static 'assets/global/plugins/wysiwyg/wysiwyg-editor.js' %}"></script>

    <script src="{% static 'assets/global/plugins/wysiwyg/wysiwyg.js' %}"></script>
    <script src="{% static 'assets/global/plugins/dropzone-new/dropzone-amd-module.min.js' %}"></script>
    <script src="{% static 'assets/global/plugins/dropzone-new/dropzone.min.js' %}"></script>
    <script src="{% static 'assets/survey/builder/js/builder.js' %}"></script>

{% endblock %}

{% block script %}

{% endblock %}