<div class="todo-sidebar col-md-3">
    <div class="portlet light fixed ">
        <div class="portlet-title">
            <div class="caption" data-toggle="collapse" data-target=".todo-project-list-content-1">
                <span class="caption-subject font-green-sharp bold uppercase">BUILDER </span>

            </div>
        </div>
        <div class="portlet-body todo-project-list-content-1" id="test1">
            <div class="todo-project-list">
                <ul class="nav nav-pills nav-stacked">
                    <li>
                        <a class="dragtest"><i class="icon-list"></i> | Multiple Choice <span style="padding-top: 1px"></span></a>
                    </li>
                    <li>
                        <a href="javascript:;"><i class="icon-arrow-down"></i> | Dropdown <span style="padding-top: 1px"></span></a>
                    </li>
                    <li>
                        <a href="javascript:;"><i class="icon-calendar"></i> | Checkbox <span style="padding-top: 1px"></span></a>
                    </li>
                    <li>
                        <a href="javascript:;"><i class="icon-bar-chart"></i> | Elo Ranking <span style="padding-top: 1px"></span></a>
                    </li>
                    <li>
                        <a href="javascript:;"><i class="icon-question"></i> | Single Textbox <span style="padding-top: 1px"></span></a>
                    </li>
                    <li>
                        <a href="javascript:;"><i class="icon-speech"></i> | Help Text <span style="padding-top: 1px"></span></a>
                    </li>
                    <li>
                        <a href="javascript:;"><i class="icon-picture"></i> | Image Carousel <span style="padding-top: 1px"></span></a>
                    </li>
                    <hr/>
                    <a href="" class="btn btn-default pull-right" style="margin: 0;"> Collect Response <i
                        class="fa fa-angle-right"></i></a>
                </ul>
            </div>
        </div>
    </div>
</div>