{% extends 'base.header.html' %}
{% load staticfiles %}
{% load bootstrap3 %}

{% block plugincss %}
{% endblock %}
{% block header %}
    WEBSITE COLLECTOR
{% endblock %}
{% block subHeader %}
    {% if collect %}
        CONFIGURATION
    {% else %}
        CREATE
    {% endif %}
{% endblock %}
{% block breadcrumb %}
    <ul class="page-breadcrumb breadcrumb">
        <li>
            <a href="{% url 'home' %}">Home</a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <a href="{% url 'survey.collect' surveyid %}">Collector</a>
            <i class="fa fa-circle"></i>
        </li>
        {% if collect %}

            <li class="active">
                Collector configuration
            </li>
        {% else %}
            <li class="active">
                New Collector
            </li>
        {% endif %}
    </ul>
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="portlet box blue-hoki">
                <div class="portlet-title">
                    <div class="caption">
                        {% if collect %}
                            <i class="fa fa-globe fa-fw"></i>WEBSITE COLLECTOR CONFIGURATION
                        {% else %}
                            <i class="fa fa-globe fa-fw"></i>WEBSITE COLLECTOR CREATE
                        {% endif %}
                    </div>
                </div>
                <div class="portlet-body">
                    <form method="POST">
                        {% csrf_token %}
                        {% bootstrap_form form %}
                        {% buttons submit='OK' reset="Reset" %}{% endbuttons %}
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block pluginjs %}
{% endblock %}
{% block script %}
    <script>
    </script>
{% endblock %}