<div class="container-frame well container-set">
    <div id="container-{{ question.type }}-{{ question.id }}">

        <h4><b>Question <b class="container-order">{{ question.order }}</b>:</b>{{ question.question|safe }}</h4>

        <div class="form-group form-md-line-input">
            Please Choose one of the options
            <select class="form-control" id="form_control_1">
                {% for choice in question.choices.all %}
                    <option value="">{{ choice.text }}</option>

                {% endfor %}
            </select>

            <div class="form-control-focus">
            </div>
        </div>
        <div class="edit-btn-group" id="edit-btn-group-{{ question.id }}" style="visibility: hidden">
            <a href="javascript:;" class="btn default container-move-up"><i class="fa fa-arrow-up"></i> Move Up </a>
            <a href="javascript:;" class="btn default container-display-edit"><i class="fa fa-edit"></i> Edit </a>
            <a href="javascript:;" class="btn default container-move-down"><i class="fa fa-arrow-down"></i> Move Down </a>
        </div>
    </div>
</div>
