{% load bootstrap3 %}
<div class="portlet light bordered container-edit">
    <div class="portlet-title">
        <div class="caption font-green-sharp">
            <i class="icon-speech font-green-sharp"></i>
            <span class="caption-subject bold uppercase">Dropdown Editor</span>
        </div>
    </div>
    <form action="{{ request.path }}" method="POST" novalidate="novalidate">
        <div class="portlet-body">
            <div>
                {% for field in form %}
                    {% if field.label == 'Required' %}
                        <div class="md-checkbox-list pull-right">
                            <div class="md-checkbox" style="margin-bottom: 10px;">
                                {{ field }}
                                <label for="id_required">
                                    <span></span>
                                    <span class="check"></span>
                                    <span class="box"></span>
                                    Required </label>
                            </div>
                        </div>
                    {% else %}
                        {% bootstrap_field field %}
                    {% endif %}
                {% endfor %}

                <p class="note">Please create your choices for the answers:</p>

                {{ formset.management_form }}
                <div>
                    {% for form in formset %}
                        <div class="choice-container">
                            {% if form.instance.pk %}{{ form.DELETE }}{% endif %}
                            <div class="form-group">
                                <div class="input-group">
                                    <span class="input-group-addon">{{ forloop.counter }}.</span>
                                    {% bootstrap_field form.text layout='inline' %}

											<span class="input-group-btn">
											<button class="btn blue delete-row" type="button">
                                                <i class="fa fa-minus"></i> Remove
                                            </button>
											</span>
                                </div>
                            </div>
                        </div>
                        {% for hidden in form.hidden_fields %}
                            {{ hidden }}
                        {% endfor %}
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="portlet-footer">
            <div class="row" style="margin: 0px;">
                <div class="pull-right">
                    <button class="btn btn-success" type="submit">Save</button>
                    <button class="btn btn-warning cancel" type="button">Cancel</button>
                </div>
            </div>
        </div>
    </form>
</div>
<script>
    $('.choice-container').formset({
        prefix: '{{ formset.prefix }}',
        addCssClass: 'btn btn-default btn-sm'
    });
</script>