{% load staticfiles %}
<div class="portlet light bordered">
    <div class="portlet-title">
        <div class="caption font-green-sharp">
            <i class="icon-speech font-green-sharp"></i>
            <span class="caption-subject bold uppercase">Editor</span>
        </div>
        <div class="tools">
            <a href="javascript:;" class="collapse">
            </a>
            <a href="javascript:;" class="fullscreen">
            </a>
        </div>
        <div class="actions">
            <div class="btn-group">
                <a class="btn btn-sm btn-default" href="javascript:;" data-toggle="dropdown">
                    <i class="fa fa-pencil"></i> Actions <i class="fa fa-angle-down"></i>
                </a>
                <ul class="dropdown-menu pull-right">
                    <li>
                        <a href="javascript:;">
                            <i class="fa fa-arrow-up"></i> Upward </a>
                    </li>
                    <li>
                        <a href="javascript:;">
                            <i class="fa fa-arrow-down"></i> Downward </a>
                    </li>
                    <li>
                        <a href="javascript:;">
                            <i class="fa fa-trash-o"></i> Delete </a>
                    </li>
                    <li>
                        <a href="javascript:;">
                            <i class="fa fa-ban"></i> Hide </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="portlet-body form" id="form_wizard_1">
        <p class="well">Please drag your images into this Area:</p>

        {#        <form action="/file-upload" class="dropzone" style="border: 2px dotted #4DB3A2;" id="image-edit-upload">#}
        {#            <div class="fallback">#}
        {#                <input name="file" type="file" multiple/>#}
        {#            </div>#}
        {#        </form>#}

        <div class="form-wizard">
            <div class="form-body">
                <ul class="nav nav-pills nav-justified steps">
                    <li>
                        <a href="#tab1" data-toggle="tab" class="step">
                            <span class="number">
                            1 </span>
                            <span class="desc">
                            <i class="fa fa-check"></i> Image Upload </span>
                        </a>
                    </li>
                    <li>
                        <a href="#tab2" data-toggle="tab" class="step">
                            <span class="number">
                            2 </span>
                            <span class="desc">
                            <i class="fa fa-check"></i> Content Setup </span>
                        </a>
                    </li>
                    <li>
                        <a href="#tab3" data-toggle="tab" class="step">
                            <span class="number">
                            3 </span>
                            <span class="desc">
                            <i class="fa fa-check"></i> Elo Ranking Setup </span>
                        </a>
                    </li>
                </ul>
                <div id="bar" class="progress progress-striped" role="progressbar">
                    <div class="progress-bar progress-bar-success">
                    </div>
                </div>
                <div class="tab-content">
                    <div class="alert alert-danger display-none">
                        <button class="close" data-dismiss="alert"></button>
                        You have some form errors. Please check below.
                    </div>
                    <div class="alert alert-success display-none">
                        <button class="close" data-dismiss="alert"></button>
                        Your form validation is successful!
                    </div>
                    <div class="tab-pane active" id="tab1">
                        <h3 class="block">Upload your images</h3>
                        <hr/>
                        <form action="/file-upload" class="dropzone" id="elo-edit-upload"
                              style="border: 2px dotted #4DB3A2;"></form>
                    </div>
                    <div class="tab-pane" id="tab2">
                        <h3 class="block">Set the details of each image</h3>
                        <hr/>
                        <div class="row">
                            <div class="col-md-4">
                                <img src="{% static 'assets/admin/pages/media/gallery/image5.jpg' %}"
                                     class="img-responsive" alt="">
                            </div>
                            <div class="col-md-8">
                                <form role="form">
                                    <div class="form-body">
                                        <div class="form-group form-md-line-input">
                                            <input type="text" class="form-control" id="form_control_1"
                                                   placeholder="enter here">
                                            <label for="form_control_1">Image Title</label>
                                            <span class="help-block">Some help goes here...</span>
                                        </div>
                                        <div class="form-group form-md-line-input">
                                            <textarea type="text" class="form-control" id="form_control_1"
                                                      placeholder="enter here"></textarea>
                                            <label for="form_control_1">Details of Image</label>
                                            <span class="help-block">Some help goes here...</span>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <hr/>
                        <div class="row">
                            <div class="col-md-4">
                                <img src="{% static 'assets/admin/pages/media/gallery/image5.jpg' %}"
                                     class="img-responsive" alt="">
                            </div>
                            <div class="col-md-8">
                                <form role="form">
                                    <div class="form-body">
                                        <div class="form-group form-md-line-input">
                                            <input type="text" class="form-control" id="form_control_1"
                                                   placeholder="enter here">
                                            <label for="form_control_1">Image Title</label>
                                            <span class="help-block">Some help goes here...</span>
                                        </div>
                                        <div class="form-group form-md-line-input">
                                            <textarea type="text" class="form-control" id="form_control_1"
                                                      placeholder="enter here"></textarea>
                                            <label for="form_control_1">Details of Image</label>
                                            <span class="help-block">Some help goes here...</span>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="tab3">

                        <h3 class="block">Set the rules of your elo ranking</h3>
                        <hr/>
                        <form role="form">
                            <div class="form-body">
                                <div class="form-group form-md-line-input">
                                    <input type="text" class="form-control" id="form_control_1">
                                    <label for="form_control_1">Title of question</label>
                                    <span class="help-block">Some help goes here...</span>
                                </div>
                                <div class="form-group form-md-line-input">
                                    <input type="text" class="form-control" id="form_control_1">
                                    <label for="form_control_1">Number of question</label>
                                    <span class="help-block">Some help goes here...</span>
                                </div>
                                <div class="form-group form-md-line-input">
                                    <input type="text" class="form-control" id="form_control_1">
                                    <label for="form_control_1">Maximum responses</label>
                                    <span class="help-block">Some help goes here...</span>
                                </div>
                                <div class="form-group form-md-line-input has-success">
                                    <input type="text" class="form-control" id="form_control_1">
                                    <label for="form_control_1">Deadline</label>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="form-actions">
                    <div class="row">
                        <div class="col-md-offset-3 col-md-9">
                            <a href="javascript:;" class="btn default button-previous">
                                <i class="m-icon-swapleft"></i> Back </a>
                            <a href="javascript:;" class="btn blue button-next">
                                Continue <i class="m-icon-swapright m-icon-white"></i>
                            </a>
                            <a href="javascript:;" class="btn green button-submit">
                                Submit <i class="m-icon-swapright m-icon-white"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
