<div class="container-frame well container-set">
    <div id="container-{{ question.type }}-{{ question.id }}">
        <h4><b>Question <b class="container-order">{{ question.order }}</b>:</b>{{ question.question|safe }}</h4>

        <div class="form-group form-md-radios">

            <div class="md-radio-list" style="margin:30px">
                {% for choice in question.choices.all %}
                    <div class="md-radio">
                        <input type="radio" id="radio-{{ question.id }}-{{ forloop.counter }}" name="radio"
                               class="md-radiobtn">
                        <label for="radio-{{ question.id }}-{{ forloop.counter }}">
                            <span></span>
                            <span class="check"></span>
                            <span class="box"></span>
                            {{ choice.text }}</label>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="edit-btn-group" id="edit-btn-group-{{ question.id }}" style="visibility: hidden">
            <a href="javascript:;" class="btn default container-move-up"><i class="fa fa-arrow-up"></i> Move Up </a>
            <a href="javascript:;" class="btn default container-display-edit"><i class="fa fa-edit"></i> Edit </a>
            <a href="javascript:;" class="btn default container-display-delete"><i class="fa fa-warning"></i> Delete
            </a>
            <a href="javascript:;" class="btn default container-move-down"><i class="fa fa-arrow-down"></i> Move
                Down </a>
        </div>
    </div>
</div>
