{% load bootstrap3 %}
<div class="portlet light bordered container-edit">
    <div class="portlet-title">
        <div class="caption font-green-sharp">
            <i class="icon-speech font-green-sharp"></i>
            <span class="caption-subject bold uppercase">Multiple Choice Editor</span>
        </div>
    </div>
    <form action="{% url 'question.create' %}" method="POST">
        <div class="portlet-body">
            <div>
                {% bootstrap_form form layout='inline' %}

                <p class="note">Please create your choices for the answers:</p>

                {{ formset.management_form }}
                <div>
                    {% for form in formset %}
                        <div class="choice-container">
                            <div class="form-group">
                                <div class="input-group">
                                    <span class="input-group-addon">{{ forloop.counter }}.</span>
                                    {% bootstrap_field form.text layout='inline' %}

											<span class="input-group-btn">
											<button class="btn blue delete-row" type="button">
                                                <i class="fa fa-minus"></i> Remove
                                            </button>
											</span>
                                </div>
                            </div>
                        </div>

                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="portlet-footer">
            <div class="row" style="margin: 0px;">
                <div class="pull-right">
                    <button class="btn btn-success" type="submit">Save</button>
                    <button class="btn btn-warning cancel" type="button">Cancel</button>
                </div>
            </div>
        </div>
    </form>
</div>
<script>
    $('.choice-container').formset({
        prefix: '{{ formset.prefix }}',
        addCssClass: 'btn btn-default btn-sm'
    });
</script>