{% load bootstrap3 %}
<div class="portlet light bordered container-edit">

    <div class="portlet-title">
        <div class="caption font-green-sharp">
            <i class="icon-speech font-green-sharp"></i>
            <span class="caption-subject bold uppercase"> Single Question Editing</span>
        </div>
    </div>
    <form action="{{ request.path }}" method="POST">
        <div class="portlet-body">
            {% bootstrap_form form layout='inline' %}
            <br/>
        </div>
        <div class="portlet-footer">
            <div class="row" style="margin: 0px;">
                <div class="pull-right">
                    {% buttons submit='OK' layout='inline' %}
                        <button class="btn btn-warning cancel" type="button">Cancel</button>
                    {% endbuttons %}
                </div>
            </div>
        </div>
    </form>

</div>