{% load bootstrap3 %}
<div class="portlet light bordered question-edit">

    <div class="portlet-title">
        <div class="caption font-green-sharp">
            <i class="icon-speech font-green-sharp"></i>
            <span class="caption-subject bold uppercase"> Single Question Editing</span>
        </div>
        <div class="tools">
            <a href="javascript:;" class="collapse">
            </a>
            <a href="javascript:;" class="fullscreen">
            </a>
        </div>
        <div class="actions">
            <div class="btn-group">
                <a class="btn btn-sm btn-default" href="javascript:;" data-toggle="dropdown">
                    <i class="fa fa-pencil"></i> Actions <i class="fa fa-angle-down"></i>
                </a>
                <ul class="dropdown-menu pull-right">
                    <li>
                        <a href="javascript:;">
                            <i class="fa fa-arrow-up"></i> Upward </a>
                    </li>
                    <li>
                        <a href="javascript:;">
                            <i class="fa fa-arrow-down"></i> Downward </a>
                    </li>
                    <li>
                        <a href="javascript:;">
                            <i class="fa fa-trash-o"></i> Delete </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <form action="{{ request.path }}" method="POST">
        <div class="portlet-body">
            {% bootstrap_form form layout='inline' %}
            <br/>
        </div>
        <div class="portlet-footer">
            <div class="row" style="margin: 0px;">
                <div class="pull-right">
                    {% buttons submit='OK' reset='Reset' cancel='Cancel' layout='inline' %}
                        <button class="btn btn-warning">Cancel</button>
                    {% endbuttons %}
                </div>
            </div>
        </div>
    </form>

</div>