{% load bootstrap3 %}
<div id="page-no-{{ page.id }}" class="portlet light page" style="min-height: 510px">
    <div class="portlet-title">
        <div class="caption font-green-sharp">
            <span class="caption-subject bold uppercase page">Page {{ page.order }}</span>
            <input class="page-order" type="hidden" value="{{ page.order }}"/>
        </div>
        <div class="actions">
            <a class="btn btn-sm btn-danger page-delete">
                <i class="fa fa-times"></i> Delete </a>
            <a class="btn btn-sm btn-default page-edit">
                <i class="fa fa-arrow-up"></i> Move Up </a>
            </a>
            <a class="btn btn-sm btn-default page-edit">
                <i class="fa fa-arrow-down"></i> Move Down </a>
            </a>
        </div>
    </div>
    <div class="portlet-body">
        <div class="row">
            <div class="col-md-12 column page-body">
                {% if page.containers.count == 0 %}
                    <div class="empty-page" style="color: #808080;text-align: center; margin-top: 150px">
                        <h1>[ Empty Page ]</h1>
                        <h4>Add a question here by clicking the button from the left navigation bar.</h4>
                    </div>
                    <br/>
                {% else %}
                    {% for container in page.containers.all %}
                        {% if container.type == 'QU' %}
                            {% with container.questioncontainer as question %}
                                {% with 'survey/question/'|add:question.questiontype.get_name|add:".display.html" as template %}
                                    {% include template %}
                                {% endwith %}
                            {% endwith %}

                        {% endif %}

                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
</div>