<div class="portlet light bordered">
    <div class="portlet-title">
        <div class="caption font-green-sharp">
            <i class="icon-speech font-green-sharp"></i>
            <span class="caption-subject bold uppercase">Display</span>
        </div>
        <div class="tools">
            <a href="javascript:;" class="collapse">
            </a>
            <a href="javascript:;" class="fullscreen">
            </a>
        </div>
        <div class="actions">
            <div class="btn-group">
                <a class="btn btn-sm btn-default" href="javascript:;" data-toggle="dropdown">
                    <i class="fa fa-pencil"></i> Actions <i class="fa fa-angle-down"></i>
                </a>
                <ul class="dropdown-menu pull-right">
                    <li>
                        <a href="javascript:;">
                            <i class="fa fa-arrow-up"></i> Upward </a>
                    </li>
                    <li>
                        <a href="javascript:;">
                            <i class="fa fa-arrow-down"></i> Downward </a>
                    </li>
                    <li>
                        <a href="javascript:;">
                            <i class="fa fa-edit"></i> Edit </a>
                    </li>
                    <li>
                        <a href="javascript:;">
                            <i class="fa fa-trash-o"></i> Delete </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="portlet-body">
        <div>
            <h4 class="note note-info">This is help text. Enrol now, you have chance to get 100 dollars right now.</h4>
            <br/>
        </div>
    </div>
</div>