<div class="container-frame alert alert-{{ textcontainer.get_category_display }} container-set">
    <div id="container-{{ textcontainer.type }}-{{ textcontainer.id }}">
        <div>
            <h4>{{ textcontainer.text | safe }}</h4>
            <br/>
        </div>

        <div class="edit-btn-group" id="edit-btn-group-{{ textcontainer.id }}" style="visibility: hidden">
            <a href="javascript:;" class="btn default"><i class="fa fa-arrow-up"></i> Move Up </a>
            <a href="javascript:;" class="btn default container-display-edit"><i class="fa fa-edit"></i> Edit </a>
            <a href="javascript:;" class="btn default"><i class="fa fa-arrow-down"></i> Move Down </a>
        </div>
    </div>
</div>
