<div class="alert alert-{{ textcontainer.get_category_display.lower }} container-set">
    <div id="container-{{ textcontainer.type }}-{{ textcontainer.id }}">
        <h4><b>Help Text <b class="container-order">{{ textcontainer.order }}</b>:</b>{{ question.question|safe }}</h4>
        <hr>
        <div>
            <h4>{{ textcontainer.text | safe }}</h4>
            <br/>
        </div>

        <div class="edit-btn-group" id="edit-btn-group-{{ textcontainer.id }}" style="visibility: hidden">
            <a href="javascript:;" class="btn default container-move-up"><i class="fa fa-arrow-up"></i> Move Up </a>
            <a href="javascript:;" class="btn default container-display-edit"><i class="fa fa-edit"></i> Edit </a>
            <a href="javascript:;" class="btn default container-display-delete"><i class="fa fa-warning"></i> Delete
            </a>
            <a href="javascript:;" class="btn default container-move-down"><i class="fa fa-arrow-down"></i> Move
                Down </a>
        </div>
    </div>
</div>
