{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}
    404 Page
{% endblock %}
{% block plugincss %}
    <link href="{% static 'assets/admin/pages/css/error.css' %}" rel="stylesheet" type="text/css"/>
{% endblock %}

{#page content#}
{% block header %}
    404
{% endblock %}
{% block subHeader %}
    Page
{% endblock %}
{% block breadcrumb %}
<ul class="page-breadcrumb breadcrumb">
    <li>
        <a href="{% url 'dashboard' %}">Home</a>
        <i class="fa fa-circle"></i>
    </li>
    <li>
        <a href="#">Error Page</a>
        <i class="fa fa-circle"></i>
    </li>
    <li>
        <a href="#">404 Page</a>
    </li>
</ul>
{% endblock %}
{% block content %}
<div class="row">
    <div class="col-md-12 page-404">
        <div class="number">
             404
        </div>
        <div class="details">
            <h3>Oops! You're lost.</h3>
            <p>
                 We can not find the page you're looking for.<br/>
                <a href="{% url 'dashboard' %}">
                Return home </a>
                or try the search bar below.
            </p>
            <form action="#">
                <div class="input-group input-medium">
                    <input type="text" class="form-control" placeholder="keyword...">
                    <span class="input-group-btn">
                    <button type="submit" class="btn blue"><i class="fa fa-search"></i></button>
                    </span>
                </div>
                <!-- /input-group -->
            </form>
        </div>
    </div>
</div>
{% endblock %}
{#end page content#}

{% block pluginjs %}
{% endblock %}
{% block script %}
{% endblock %}