{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}

{% endblock %}

{% block plugincss %}

{% endblock %}

{% block header %}

{% endblock %}

{% block subheader %}

{% endblock %}

{% block breadcrumb %}

<ul class="page-breadcrumb breadcrumb">
    <li>
        <a href="#">Home</a>
        <i class="fa fa-circle"></i>
    </li>
    <li class="active">
         Amchart
    </li>
</ul>
{% endblock %}

{% block content %}
    <h1>Test</h1>
{% endblock %}

{% block pluginjs %}

{% endblock %}

{% block script %}
{% endblock %}