<div class="portlet light bordered" xmlns="http://www.w3.org/1999/html">
    <div class="portlet-title">

        <div class="caption font-green-sharp">
            <i class="icon-speech font-green-sharp"></i>
            <span class="caption-subject bold uppercase"> Check Box Display</span>
        </div>

        <div class="tools">
            <a href="javascript:;" class="collapse">
            </a>
            <a href="javascript:;" class="fullscreen">
            </a>
        </div>
        <div class="actions">
            <div class="btn-group">
                <a class="btn btn-sm btn-default" href="javascript:;" data-toggle="dropdown">
                    <i class="fa fa-user"></i> User <i class="fa fa-angle-down"></i>
                </a>
                <ul class="dropdown-menu pull-right">
                    <li>
                        <a href="javascript:;">
                            <i class="fa fa-arrow-up"></i> Upward </a>
                    </li>
                    <li>
                        <a href="javascript:;">
                            <i class="fa fa-arrow-down"></i> Downward </a>
                    </li>
                    <li>
                        <a href="javascript:;">
                            <i class="fa fa-edit"></i> Edit </a>
                    </li>
                    <li>
                        <a href="javascript:;">
                            <i class="fa fa-trash-o"></i> Delete </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="portlet-body">
        <div class="scroller" data-rail-visible="1"
             data-rail-color="yellow" data-handle-color="#a1b2bd">
            <div class="form-group form-md-radios">
                <h4 class="well">Question 1: Please choose the one you like in the following options</h4>

                <div class="md-checkbox-list" style="margin-left: 30px;">
                    <div class="md-checkbox">
                        <input type="checkbox" id="checkbox1" class="md-check">
                        <label for="checkbox1">
                            <span></span>
                            <span class="check"></span>
                            <span class="box"></span>
                            Option 1 </label>
                    </div>
                    <div class="md-checkbox">
                        <input type="checkbox" id="checkbox2" class="md-check" checked>
                        <label for="checkbox2">
                            <span></span>
                            <span class="check"></span>
                            <span class="box"></span>
                            Option 2 </label>
                    </div>
                    <div class="md-checkbox">
                        <input type="checkbox" id="checkbox3" class="md-check">
                        <label for="checkbox3">
                            <span></span>
                            <span class="check"></span>
                            <span class="box"></span>
                            Option 3 </label>
                    </div>
                    <div class="md-checkbox">
                        <input type="checkbox" id="checkbox4" disabled class="md-check">
                        <label for="checkbox4">
                            <span></span>
                            <span class="check"></span>
                            <span class="box"></span>
                            Disabled </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="margin-right: 0px;">
            <div class="pull-right">
                <button class="btn btn-success btn-sm">Submit</button>
                <button class="btn btn-warning btn-sm">Reset</button>
            </div>
        </div>
    </div>

</div>