<div class="portlet portlet-sortable light bordered" xmlns="http://www.w3.org/1999/html">
    <div class="portlet-title">
        <div class="caption font-green-sharp">
            <i class="icon-speech font-green-sharp"></i>
            <span class="caption-subject bold uppercase"> Multiple Choice</span>
        </div>
        <div class="actions">
            <a href="javascript:;" class="btn btn-circle btn-default btn-sm">
                <i class="fa fa-plus"></i> Add </a>
        </div>
    </div>
    <div class="portlet-body">
        <div class="scroller" style="height:200px" data-rail-visible="1"
             data-rail-color="yellow" data-handle-color="#a1b2bd">
            <h4>Heading Text</h4>

            <div style="margin-left: 20px; margin-top: 30px;">
                <p><input type="radio" value="1" name="1">Choice A</p>
                <p><input type="radio" value="2" name="1">Choice B</p>
                <p><input type="radio" value="3" name="1">Choice C</p>

            </div>
        </div>
    </div>
</div>