<div class="portlet light bordered">
    <div class="portlet-title">
        <div class="caption font-green-sharp">
            <i class="icon-speech font-green-sharp"></i>
            <span class="caption-subject bold uppercase"> Single Question Editing</span>
        </div>
        <div class="actions">
            <a class="btn btn-circle btn-default btn-sm">
                <i class="fa fa-trash fa-fw"></i>Delete
            </a>
            <a class="btn btn-circle btn-default btn-sm">
                <i class="fa fa-arrow-circle-o-up fa-fw"></i>Move up
            </a>
            <a class="btn btn-circle btn-default btn-sm">
                <i class="fa  fa-arrow-circle-o-down fa-fw"></i>Move down
            </a>
        </div>
    </div>
    <div class="portlet-body">
        <div>
            <textarea class="wysihtml5 form-control" rows="5" placeholder="Please enter your question here"></textarea>
        </div>

    </div>
    <br/>
    <div class="portlet-footer">
        <div class="row" style="margin: 0px;">
            <div class="pull-right">
                <button class="btn btn-success btn-sm">Save</button>
                <button class="btn btn-warning btn-sm">Cancel</button>
            </div>
        </div>
    </div>
</div>